<section id="about-me">
  <div class="container about-me-container">
    <h2 class="visually-hidden">Про мене</h2>
    <div class="about-me-wrap-text">
      <p class="about-me-text">
        Привіт! Мене звати Валя, і я рада поділитися з вами своєю творчістю. Моя
        історія в'язання розпочалася восени 2018 року, коли на світ з'явився мій
        племінник. Уже через кілька днів після його народження я взяла до рук
        гачок і створила свою першу іграшку спеціально для нього. Відтоді
        в'язання стало для мене справжньою пристрастю і джерелом натхнення.
        <br />
        <br />
        Це маленьке хобі, яке починалося з любові до сім'ї, перетворилося на
        улюблену роботу. Тепер я створюю авторські іграшки, сповнені тепла і
        турботи, для багатьох дітей. Також я ділюся своїми знаннями, пишучи
        майстеркласи, щоб інші могли розділити мою радість від в'язання.і
      </p>
    </div>
    <img
      class="about-me-img"
      src="../img/Валентина_Семенюк.jpg"
      alt="Валентина Семенюк"
      width="420px"
      height="470px"
      loading="lazy"
    />
  </div>
</section>
