<section id="gallery">
  <div class="container">
    <h2 class="gallery-title">
      <span class="gallery-aсcent">Мої</span> роботи
    </h2>
    <p class="gallery-text">
      Створені серцем, виплекані в думках, втілені руками.
    </p>
    <ul class="gallery-list swiper-wrapper">
      <li class="gallery-item swiper-slide">
        <img
          src="/img/Gallery_1.jpg"
          alt="Корівка"
          width="264px"
          height="260px"
          loading="lazy"
        />
      </li>
      <li class="gallery-item swiper-slide">
        <img
          src="/img/Gallery_2.jpg"
          alt="Зайчик"
          width="264px"
          height="260px"
          loading="lazy"
        />
      </li>
      <li class="gallery-item swiper-slide">
        <img
          src="/img/Gallery_3.jpg"
          alt="Корівка з бомбонами"
          width="264px"
          height="260px"
          loading="lazy"
        />
      </li>
      <li class="gallery-item swiper-slide">
        <img
          src="/img/Gallery_4.jpg"
          alt="Пряник"
          width="264px"
          height="260px"
          loading="lazy"
        />
      </li>
      <li class="gallery-item swiper-slide">
        <img
          src="/img/Gallery_5.jpg"
          alt="Панда"
          width="264px"
          height="260px"
          loading="lazy"
        />
      </li>
      <li class="gallery-item swiper-slide">
        <img
          src="/img/Gallery_6.jpg"
          alt="Курча"
          width="264px"
          height="260px"
          loading="lazy"
        />
      </li>
      <li class="gallery-item swiper-slide">
        <img
          src="/img/Gallery_7.jpg"
          alt="Замріяне зайченя"
          width="264px"
          height="260px"
          loading="lazy"
        />
      </li>
      <li class="gallery-item swiper-slide">
        <img
          src="/img/Gallery_8.jpg"
          alt="Єдиноріжка"
          width="264px"
          height="260px"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>
