<header class="header">
  <div class="container">
    <nav class="nav">
      <a class="logo" href=""> tvorcha.<span class="ac">toys</span></a>
      <ul class="list-header-menu">
        <li class="item-header-menu">
          <a href="#about-me">Про мене</a>
        </li>
        <li class="item-header-menu">
          <a href="#gallery">Галерея</a>
        </li>
        <li class="item-header-menu">
          <a href="#master-class">МК</a>
        </li>
        <!-- <li>Відгуки</li> -->
      </ul>
      <ul class="list-social">
        <li>
          <a href="">
            <svg width="24" height="24" aria-label="icon-instagram">
              <use href="img/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg width="24" height="24" aria-label="icon-instagram">
              <use href="img/icons.svg#icon-pinterest"></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
