<section id="master-class">
  <div class="container">
    <h2 class="master-class-title">Майстеркласи</h2>
    <p class="master-class-text">
      Створивши одну, Ви обов'язково захочете ще...
    </p>
    <ul class="master-class-list">
      <li class="master-class-item">
        <img
          src="/img/Gallery_1.jpg"
          alt="Корівка"
          width="284px"
          height="260px"
          loading="lazy"
        />
      </li>
      <li class="master-class-item">
        <img
          src="/img/Gallery_2.jpg"
          alt="Зайчик"
          width="284px"
          height="260px"
          loading="lazy"
        />
      </li>
      <li class="master-class-item">
        <img
          src="/img/Gallery_3.jpg"
          alt="Корівка з бомбонами"
          width="284px"
          height="260px"
          loading="lazy"
        />
      </li>
      <li class="master-class-item">
        <img
          src="/img/Gallery_4.jpg"
          alt="Пряник"
          width="284px"
          height="260px"
          loading="lazy"
        />
      </li>
      <li class="master-class-item">
        <img
          src="/img/Gallery_5.jpg"
          alt="Панда"
          width="284px"
          height="260px"
          loading="lazy"
        />
      </li>
      <li class="master-class-item">
        <img
          src="/img/Gallery_6.jpg"
          alt="Курча"
          width="284px"
          height="260px"
          loading="lazy"
        />
      </li>
      <li class="master-class-item">
        <img
          src="/img/Gallery_7.jpg"
          alt="Замріяне зайченя"
          width="284px"
          height="260px"
          loading="lazy"
        />
      </li>
      <li class="master-class-item">
        <img
          src="/img/Gallery_8.jpg"
          alt="Єдиноріжка"
          width="284px"
          height="260px"
          loading="lazy"
        />
      </li>
    </ul>
  </div>
</section>
