.header {
  max-width: 1080px;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  z-index: 99999;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  color: black;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  border-radius: 8px;
  border: 1px solid #fbfbfb;
  background-color: #fbfbfb;
  padding: 0 6px;
}
.logo {
  color: black;
  font-size: 24px;
}
.ac {
  font-style: italic;
  color: rgb(253, 149, 13);
}
.list-header-menu {
  display: flex;
  gap: 12px;
  font-size: 18px;
}
.item-header-menu {
  border: 1px solid rgb(253, 149, 13);
  border-radius: 6px;
  padding: 4px;
}
.list-social {
  display: flex;
  gap: 12px;
}
